<div class="start-quote quote__symbol">
  <img src="images/quote.svg" alt="">
</div>

<div class="quote">
  <%= lorem.sentences 5 %>
</div>

<div class="end-quote quote__symbol" style="transform: rotate(180deg)">
  <img src="images/quote.svg" alt="">
</div>
