<div class="navbar__container">
  <!-- Logo -->
  <a href="/" class="navbar__logo">
    <%= image_tag "logo.png" %>
  </a>

  <!-- Links disappearing in mobile -->
  <div class="navbar__links hidden-xs hidden-sm">
    <a href="solim.html" class="navbar-links__box navbar-links__item">Solim</a>
    <a href="project.html" class="navbar-links__box navbar-links__item">Project</a>
    <a href="#" class="navbar-links__box navbar-links__item">Questions</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-links__box hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown__menu">
        <li><a href="solim.html">Solim</a></li>
        <li><a href="project.html">Project</a></li>
        <li><a href="#">Questions</a></li>
      </ul>
    </div>
  </div>
</div>
