// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


$solim-black: #000000;
$solim-white: #FFFFFF;
$solim-light-grey: #999999;
$solim-dark-grey: #79797D;
$solim-super-dark-grey: #333333;
$solim-green: #24890D;
