<div class="video__container">
  <video src="videos/mock.mp4" type="video/mp4" controls="true" class="video"></video>
</div>

<div class="quote__container">
  <%= partial 'components/quote' %>
</div>

<div class="recap__container">
  <%= partial 'components/recap' %>
</div>
