<div class="project__container">
    <div class="project__title">
      <p>SAUDE PARA TOD@S</p>
      <p class="project__title--underline"></p>
    </div>
    <div class="project__info">
      <p><%= lorem.sentences 45 %></p>
    </div>
  </div>
